$body-bg: #fff;
$paragraph: #808080;
$paragraph-banner: #fff;
$paragraph-footer: #859299;
$header: #fff;
$header-arrow: #686868;
$brand: #00b0ff;
$title: #4e5c64;
$subtitle: #49555c;
$border: #d5d5d5;
$stock-available: #6cc729;
$stock-limited: #ff8a00;
$stock-not-available: #d52929;
$footer-border: #475055;
$footer-link-hover: #0ec3f7;
$cart-bg: #fff;
$menu-bg: #24292d;
$menu-hover: #3a4045;
$button-primary: #00b0ff;
$button-primary-border: #0091ea;
$button-primary-hover: #2abdff;
$button-secondary: #ff9100;
$button-secondary-border: #ff6d00;
$button-secondary-hover: #ffa023;
$button-wishlist: #00acc1;
$button-wishlist-border: #0092a2;
$button-wishlist-hover: #0cbcd1;
$button-no-stock: #e72622;
$button-no-stock-border: #cf1814;
$button-quick-view: #f50057;
$button-quick-view-border: #cc0049;
$button-quick-view-hover: #ff186a;
$button-full-view: #ffc400;
$button-full-view-border: #f2a200;
$button-full-view-hover: #ffcf2e;
$button-compare: #89d307;
$button-compare-border: #6caa00;
$button-compare-hover: #97e114;
$button-register: #00dfb9;
$button-register-border: #00c2a1;
$button-register-hover: #0ce6c1;
$slider-control: #fff;
$slider-control-bg: #00b0ff;
$slider-control-border: #0091ea;
$slider-control-hover: #2abdff;
$accordion-control: #0ec3f7;
$footer-top-bg: #2f383d;
$footer-bottom-bg: #24292d;
$footer-paragraph: #859299;
$footer-fb-brand: #355599;
$footer-twt-brand: #0fccf4;
$footer-gplus-brand: #e0133a;
$footer-db-brand: #e92a83;
$footer-rss-brand: #ffa11b;
$footer-vm-brand: #07c8aa;
$footer-fk-brand: #834ca9;
$label: #81929b;
$fb-brand: #355599;
$fb-brand-border: #25417d;
$button-fb-hover: #4667ae;
$twt-brand: #0fccf4;
$twt-brand-border: #18abca;
$button-twt-hover: #46dfff;
$gplus-brand: #e0133a;
$gplus-brand-border: #c2062a;
$gplus-brand-hover: #ec2349;
$button-gplus-hover: #4667ae;
$rss-brand: #ffa11b;
$rss-brand-border: #e68b0a;
$rss-brand-hover: #ffaf3c;
$button-rss-hover: #4667ae;
$dribble-brand: #e92a83;
$dribble-brand-border: #cc1e6f;
$dribble-brand-hover: #f3378f;
$button-dribble-hover: #4667ae;
$vimeo-brand: #07c8aa;
$vimeo-brand-border: #00a48a;
$vimeo-brand-hover: #0ed3b4;
$button-vimeo-hover: #4667ae;
$flickr-brand: #834ca9;
$flickr-brand-border: #68368b;
$flickr-brand-hover: #8e57b5;
$button-flickr-hover: #4667ae;
$important-promo: #ff0000;
$dropdown-text: #afafaf;