@import url(http://fonts.googleapis.com/css?family=Montserrat:700,400);
@import url(http://fonts.googleapis.com/css?family=Roboto:400,400italic,500,300);
@font-face {
	font-family: 'GoodDog';
	src: url('fonts/GoodDog/GoodDog-webfont.eot'); /* IE9 Compat Modes */
	src: url('fonts/GoodDog/GoodDog-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	     url('fonts/GoodDog/GoodDog-webfont.woff') format('woff'), /* Modern Browsers */
	     url('fonts/GoodDog/GoodDog-webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
	     url('fonts/GoodDog/GoodDog-webfont.svg#GoodDog') format('svg'); /* Legacy iOS */
}
$main-font: 'Montserrat', sans-serif;
$paragraph-font: 'Roboto', sans-serif;
$promo-msg-font: 'GoodDog', sans-serif;
$light: 300;
$normal: 400;
$medium: 500;
$bold: 700;