#shop-wrap {
	background-color: #fff;
}

#shop {
	padding: 60px 0 100px;
	overflow: hidden;
	
	.shop-sidebar {
		float: right;
	}

	.shop-products {
		float: left;
	}

	&.right {
		.shop-sidebar {
			float: left;
		}

		.shop-products {
			float: right;
		}
	}
}

.shop-sidebar {
	width: 270px / 1170px * 100%;
	background-color: #fff;
	
	.sidebar-control {
		display: none;
	}

	.title {
		font-size: 18px / 16px * 1em;
		margin: 45px 0 20px;
		
		&:nth-child(2) {
			margin-top: 0;
		}
	}

	.subtitle {
		font-size: 12px / 16px * 1em;
		line-height: 16px;
		margin-bottom: 18px;
	}

	.accordion {	
		h6 {
			font-size: 12px / 16px * 1em;
			line-height: 38px;
			@include transition(color, .3s, ease);
			
			&:hover {
				color: $brand;
			}
		}

		.plus {
			width: 9px;
			height: 9px;
			
			& > rect {
				fill: $accordion-control;
			}
		}
	}

	.westeros-form {
		&.price-range {
			overflow: visible;
			padding: 20px 10px 0;
			
			button {
				margin-top: 50px;
			}	
		}

		label.select-block {
			width: 100%;
			margin-bottom: 15px;
			
			&.last {
				margin-bottom: 25px;
			}
			
			select {
				width: 100%;
				height: 38px;
			}

			.svg-arrow {
				top: 18px;
				right: 15px;	
			}
		}

		input[type="text"] {
			margin-bottom: 25px;
		}

		input[type="checkbox"] + label {
			display: block;
			margin-bottom: 14px;
		}

		input[type="radio"] + label {
			display: block;
			margin-bottom: 14px;
			
			&.last {
				margin-bottom: 25px;
			}
		}

		.button{
			&.small {
				float: left;
				font-size: 10px / 16px * 1em;
				padding: 0 15px;
				line-height: 23px;
				letter-spacing: 0;
				border-bottom-width: 2px;
			}

			&.vote {
				margin-right: 10px;
				background-color: $button-wishlist;
				border-bottom-color: $button-wishlist-border;
			}
		}
	}

	.colorpicker {
		margin-left: 2px;
		
		li {
			margin: 0 20px 10px 0;

			&:last-child {
				margin-right: 0;
			}
		}
	}

	ul.product-preview {
		margin-bottom: 45px;
		
		& > li {
			.picture {
				width: 70px;
				height: 70px;
				padding: 4px;
				background-color: #fff;
				border: 1px solid $border;
				position: absolute;
				top: 0;
				left: 0;
				cursor: pointer;
				@include transition(all, .3s, ease);
					
				&:hover {
					background-color: $brand;
					border-color: $brand;
				}
				
				figure {
					width: 60px;
					height: 60px;
					border: none;
					position: static;
				}
			}
			
			h6 {
				color: $subtitle;
			}
		}
	}

	.fb-page {
		margin-bottom: 45px;
	}

	.cart-total {
		margin-bottom: 20px;
	}
}

div.sidebar-control {
	width: 40px;
	height: 40px;
	padding: 10px 0 0 10px;
	background-color: $brand;
	box-shadow: 2px 2px 4px 2px rgba(2, 3, 0, .2);
	border-left: none;
	border-radius: 4px;
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
	position: fixed;
	top: 50px;
	left: 0;
	z-index: 1000;
	cursor: pointer;
	display: none;
	
	.svg-gear {
		width: 20px;
		height: 20px;
		fill: #fff;
	}
}

svg.sidebar-control {
	width: 25px;
	height: 25px;
	@include transform_rotate(45deg);
	fill: $title;
	position: absolute;
	top: 33px;
	right: 25px;
	z-index: 9999;
	cursor: pointer;
}

.shop-products {
	width: 871px / 1170px * 100%;
	
	&.shop-cart {
		.title {
			margin-bottom: 20px;
		}
	}
	
	.title {
		margin-bottom: 0;
		
		&:first-child {
			margin-top: -6px;
		}

		&.heading {
			margin-bottom: 20px;
		}
	}

	.subtitle {
		font-size: 12px / 16px * 1em;
	}

	.section-banner {
		margin-top: 20px;
		padding-bottom: 20px;
		border-bottom: 1px solid $border;
	}

	.filters {
		margin-bottom: 20px;
	}

	ul.product-list {
		.list-item {
			margin-bottom: 20px;
			
			&:nth-child(3n+3) {
				margin-right: 0;
			}
		}

		&.list {
			.list-item {
				width: 100%;
			}
		}
	}

	.pager {
		width: 256px;
		margin: 20px auto 0;
	}

	.product-quick-view.full {
		margin-bottom: 40px;
	}

	ul.blog-post-preview {
		.list-item {
			margin-bottom: 20px;
			
			&:nth-child(3n+3) {
				margin-right: 0;
			}
		}
	}

	.blog-post {
		margin: 20px 0 60px;
	}
}

.tags {
	overflow: hidden;
	
	& > li {
		float: left;
		margin: 0 10px 10px 0;
		border: 1px solid $border;
		@include transition(border-color, .3s, ease);
		
		&:last-child {
			margin-right: 0;
		}

		&:hover {
			border-color: $brand;
			
			a {
				color: #fff;
				background-color: $brand;
			}
		}

		a {
			display: block;
			color: #81929b;
			font-family: $main-font;
			font-size: 10px / 16px * 1em;
			font-weight: $bold;
			text-transform: uppercase;
			line-height: 18px;
			padding: 0 15px;
			background-color: #fff;
			@include transition(all, .3s, ease);
		}
	}
}

.filters {
	height: 60px;
	border-bottom: 1px solid $border;
	overflow: hidden;
	
	.subtitle {
		float: left;
		line-height: 60px;	
	}

	.options {
		float: right;
		
		.westeros-form {
			float: left;
			margin-top: 15px;
			
			label.select-block {
				margin-right: 6px;

				select {
					margin-left: 10px;
				}
			}

			label[for="sort"] {
				margin-left: 10px;
			}
		}
	}
}

.display {
	float: left;
	margin: 15px 0 0 15px;
	overflow: hidden;
	
	& > li {
		float: left;
		width: 34px;
		height: 30px;
		margin-right: 10px;
		border: 1px solid $border;
		border-radius: 2px;
		position: relative;
		cursor: pointer;
		
		&:last-child {
			margin-right: 0;
		}

		svg {
			width: 14px;
			height: 14px;
			fill: $border;
			position: absolute;
			top: 7px;
			left: 9px;
			@include transition(all, .4s, ease);
		}
		
		&.selected {
			svg {
				fill: $brand;
			}
		}
	}
}

.pager {
	overflow: hidden;
	
	li {
		float: left;
		width: 28px;
		height: 30px;
		margin-right: 10px;
		border: 1px solid $border;
		border-radius: 2px;
		background-color: #fff;
		
		&:first-child {
			border: none;
		}
		
		&:last-child {
			margin-right: 0;
			border: none;
		}

		a {
			display: block;
			text-align: center;
			line-height: 28px;
			color: #81929b;
			font-family: $main-font;
			font-size: 11px / 16px * 1em;
			@include transition(all, .3s, ease);
			position: relative;
			
			&:hover {
				color: $brand;
			}
		}

		&.selected {
			a {
				color: $brand;
				font-weight: $bold;
			}
		}

		.button {
			height: 30px;
			border-bottom-width: 2px;
			background-color: $slider-control-bg;
			
			&:hover {
				background-color: $slider-control-hover;
			}
		}

		.svg-arrow {
			width: 5px;
			height: 9px;
			fill: $slider-control;
			position: absolute;
			top: 10px;
		}

		.prev .svg-arrow {
			left: 11px;
			@include transform_rotate(180deg);
		}

		.next .svg-arrow {
			right: 11px;
		}
	}
}

.shopping-cart {
	display: table;
	width: 100%;
	border: 1px solid $border;
	margin-bottom: 40px;
	
	&.order {
		border: none;
		border-top: 1px solid $border;
		margin-bottom: 0;
		
		.cell {
			&.cart-item {
				width: 373px;
				height: 100px;
				
				.highlighted {
					color: $brand;
					margin-bottom: 8px;
				}
				
				&:first-child {
					padding: 20px 0 0 14px;
					
					h3 {
						margin-bottom: 5px;
					}
					
					h6 {
						margin-bottom: 5px;
					}
				}
			}
		}
	}

	&.summary {
		.cell {
			&:last-child {
				padding-right: 14px;
			}
		}

		.row {
			&:last-child {
				p.highlighted {
					color: $brand;
					font-size: 18px / 16px * 1em;
				}
			}
		}

		h3 {
			margin-top: 25px;
		}

		p.highlighted {
			float: right;
			margin-top: 25px;
		}
	}
	
	.row {
		display: table-row;
		
		&:last-child {
			.cell {
				border-bottom: none;
			}
		}

		&.header {
			.cell {
				height: 35px;
				
				&:first-child {
					text-align: left;
					padding-left: 15px;
				}

				h5 {
					line-height: 35px;
				}
			}
		}
	}

	.cell {
		display: table-cell;
		border-right: 1px solid $border;
		border-bottom: 1px solid $border;
		vertical-align: top;
		text-align: center;
		
		&.cart-item {
			width: 353px;
			height: 156px;
			
			&:first-child {
				text-align: left;
				padding: 20px 0 0 145px;
				position: relative;
			}

			.product-picture {
				border: 1px solid $border;
				padding: 3px;
				position: absolute;
				top: 10px;
				left: 15px;

				figure {
					width: 107px;
					height: 128px;
				}
			}

			.highlighted {
				margin: 0 0 10px;
				font-size: 9px / 16px * 1em;
				letter-spacing: 0.08em;
			}

			h3 {
				color: $subtitle;
				font-size: 1em;
			}

			h6 {
				margin: 3px 0 10px;
				color: $title;
				font-size: 10px / 16px * 1em;
				
				span {
					color: $label;
				}
			}
		}

		&.cart-summary {
			width: 759px / 868px * 100%;
			height: 60px;
			padding-left: 15px;
			
			h3 {
				color: $subtitle;
				font-size: 1em;
				margin-top: 25px;
				text-align: left;
			}

			p.highlighted {
				margin-top: 25px;
			}
		}

		&.buttons {
			padding-top: 28px;
			
			&.small {
				width: 158px;
			}

			&.big {
				width: 282px;
			}
		}

		.highlighted {
			color: $subtitle;
			margin-top: 42px;
			font-size: 14px / 16px * 1em;
		}

		.counter {
			margin: 32px auto 0;
		}

		.button {
			&.cart-add {
				float: right;
				width: 190px;
				text-align: left;
				padding-left: 50px;
				margin: 0 15px 10px 0;
			}
		}

		.actions {
			float: right;
			margin-right: 15px;
			
			.button {
				float: left;

				&.compare {
					margin-right: 10px;
					clear: both;
				}

				&.no-stock {
					pointer-events: auto;
					
					.svg-plus {
						left: 20px;
					}
				}
			}
		}
		
		&:last-child {
			border-right: none;
		}
	}
}

.cart-total {
	border: 1px solid $border;
	padding-top: 14px;
	
	.subtotal {
		overflow: hidden;
		clear: both;
		margin-bottom: 15px;
		padding: 0 14px;
		
		h5 {
			font-size: 10px / 16px * 1em;
			
			&:first-child {
				float: left;
				color: $label;
			}
			
			&:last-child {
				float: right;
			}
		}
	}

	.total {
		overflow: hidden;
		clear: both;
		border-top: 1px solid $border;
		padding: 12px 14px 11px;
		
		h5 {
			&:first-child {
				float: left;
			}
			
			&:last-child {
				float: right;
				color: $brand;
				font-size: 18px / 16px * 1em;
			}
		}
	}
}

.checkout-progress {
	border: 1px solid $border;
	
	h5 {
		border-bottom: 1px solid $border;
		padding-left: 14px;
		line-height: 33px;
		position: relative;
		
		svg {
			position: absolute;
			top: 12px;
			right: 15px;
		}

		.svg-plus {
			width: 11px;
			height: 11px;
			fill: $stock-not-available;
			@include transform_rotate(45deg);
		}

		.svg-check {
			width: 13px;
			height: 10px;
			fill: $stock-available;
		}

		&:last-child {
			border-bottom: none;
		}
	}
}

@media screen and (max-width: 1260px) {
	#shop {
		.shop-products {
			ul.product-list {
				&.grid,
				&.grid-v2 {
					width: 570px;
					
					.list-item {
						&:nth-child(even) {
							margin-right: 0;
						}

						&:nth-child(odd) {
							margin-right: 30px;
						}
					}
				}
			}
		}
	}
}

@media screen and (max-width: 1160px) {
	#shop {
		.shop-products {
			float: none;
			width: 100%;
			
			ul.product-list {
				&.grid,
				&.grid-v2 {
					width: 870px;
					
					.list-item {
						&:nth-child(even) {
							margin-right: 30px;
						}

						&:nth-child(3n+3) {
							margin-right: 0;
						}
					}
				}
			}
		}

		&.expandible-sidebar {
			.shop-sidebar {
				width: 310px;
				height: 100%;
				padding: 38px 7px 0;
				float: none;
				position: fixed;
			    top: 0;
			    left: 0;
			    z-index: 9998;
			    overflow: auto;
			    @include transform_translate(-310px, 0);
				@include transition(all, .3s, ease-in-out);

				&.open {
					@include transform_translate(0, 0);
				}

				.sidebar-control {
					display: block;
				}
			}

			.sidebar-control {
				display: block;
			}
		}

		.shop-sidebar {
			&.checkout-cart {
				width: 100%;
				margin-bottom: 40px;
				
				.button {
					float: none;
					width: 250px;
					height: 43px;
					margin: 0 auto;
					font-size: 14px / 16px * 1em;
				}
			}
		}
	}
}

@media screen and (max-width: 930px) {
	#shop {
		.shop-products {
			ul.product-list {
				&.grid,
				&.grid-v2 {
					width: 570px;
					
					.list-item {
						&:nth-child(even) {
							margin-right: 0;
						}

						&:nth-child(odd) {
							margin-right: 30px;
						}
					}
				}
			}
		}
	}
}


@media screen and (max-width: 860px) {
	#shop {
		.shop-products {
			.filters {
				height: 90px;
				
				&.single {
					.options {
						.westeros-form {
							margin-top: 30px;
						}
					}
				}
				
				.subtitle {
					line-height: 90px;
				}

				.options {
					.westeros-form {
						margin-top: 10px;
						
						label {
							float: left;
							
							select {
								margin-left: 15px;
							}
						}

						label[for="sort"] {
							clear: left;
							margin: 8px 0 0;
							
							select {
								margin-left: 2px;
							}
						}
					}
				}
			}

			.display {
				margin: 30px 0 0 50px;
			}

			.product-list {
				&.list {
					.list-item {
						height: auto;
						padding: 265px 20px 80px;
						
						.actions {
							left: 50%;
							margin-left: -100px;
						}

						.description {
							ul.rating {
								top: 320px;
								left: 22px;
							}

							p.highlighted.previous {
								top: 296px;
							}

							p.highlighted.current {
								top: 284px;
							}
						}
					}
				}
			}

			.shopping-cart {
				&.wishlist-cart {
					.row {
						.cell {
							&.buttons {
								padding: 20px 10px;
								
								.button {
									&.cart-add {
										float: none;
										margin: 0 auto 10px;
									}
								}
							}
						}
					}
				}

				.cell {
					&.cart-item {
						width: 210px;
						
						&:first-child {
							padding-left: 20px;
						}

						.product-picture {
							display: none;
						}
					}

					&.buttons {
						width: 100px;
					}

					.actions {
						float: none;
						width: 52px;
						margin: 0 auto;
						
						.button {
							float: none;

							&.compare {
								margin: 0 0 10px 0;
							}
						}
					}
				}

				&.order {
					.cell {
						&.cart-item {
							width: 210px;
						}
					}
				}
			}
		}
	}
}

@media screen and (max-width: 660px) {
	#shop {
		.shop-products {
			ul.product-list {
				&.grid,
				&.grid-v2 {
					width: 270px;
					
					.list-item {
						margin-right: 0;
					}
				}

				&.list {
					.cart-options {
						width: auto;
						
						a.button {
							float: left;
						}

						a.button.wishlist {
							width: 52px;
							padding-left: 0;
							margin-right: 5px;
							
							.svg-wishlist {
								left: 50%;
								margin-left: -8px;
							}
							
							span {
								display: none;
							}
						}
					}
				}
			}

			.filters {
				height: 150px;
				position: relative;
				
				&.single {
					height: 120px;
					
					.options {
						.westeros-form {
							float: none;
							width: 189px;
							margin: 25px auto 0;
						}
					}

					.subtitle {
						line-height: 30px;
					}
				}
				
				.subtitle {
					width: 100%;
					text-align: center;
					position: absolute;
					top: 75px;
				}

				.options {
					float: none;
					width: 276px;
					margin: 0 auto;
					
					.westeros-form {
						margin-top: 20px;
					}

					.display {
						margin: 20px 5px 0 15px;
						
						li {
							float: none;
							margin-right: 0;
							
							&:first-child {
								margin-bottom: 8px;
							}
						}
					}
				}
			}

			.shopping-cart {
				&.wishlist-cart {
					.row {
						&.header {
							display: none;
						}

						&:last-child {
							.cell {
								border-bottom: 1px solid $border;
								
								&:last-child {
									border-bottom: none;
								}
							}
						}

						.cell {
							display: block;
							width: 100%;
							border-right: none;
							text-align: center;
							
							&.cart-item {
								padding: 20px 0 0;
							}

							&.buttons {
								padding: 20px 0;
							}
							
							&:nth-child(2) {
								display: none;
							}
							
							.colorpicker {
								width: 33px;
								margin: 0 auto;
							}

							.highlighted:last-child {
								line-height: 70px;
								margin: 0;
							}

							.counter {
								margin: 20px auto;
							}
						}
					}
				}

				.cell {
					&:nth-child(2) {
						display: none;
					}
				}
				
				&.order {
					.row {
						&.header {
							.cell {
								padding: 3px;
								text-align: center;
							}
						}

						.cell {
							&:nth-child(2),
							&:nth-child(3) {
								display: none;
							}

							&.cart-item {
								padding: 20px 10px;
							} 
						}
					}

					&.summary {
						.cell {
							&:nth-child(2),
							&:nth-child(3) {
								display: table-cell;
							}
						}
					}
				}
			}
		}
	}
}

@media screen and (max-width: 460px) {
	#shop {
		.shop-products {
			ul.product-list {
				&.list {
					.list-item {
						.social {
							display: none;
						}

						.cart-options {
							float: none;
							width: 247px;
						    left: 50%;
						    margin-left: -123px;
						}

						.description {
							.long-description {
								margin-top: 5px;
							}
							
							ul.rating {
								top: 324px;	
							}

							p.highlighted.previous {
								top: 319px;
								right: 95px;
							}

							p.highlighted.current {
								top: 315px;
								font-size: 20px / 16px * 1em;
							}
						}
					}
				}
			}

			.checkout-button {
				width: 250px;
				height: 53px;
				font-size: 18px / 16px * 1em;
			}
		}
	}
}