footer {
	p {
		color: $footer-paragraph;
	}
}

#footer-top-wrap {
	background-color: $footer-top-bg;
}

#footer-top {
	min-height: 400px;
	padding: 55px 0 65px;
	
	article {
		float: left;
		width: 270px;
		margin-right: 30px;
		
		&:last-child {
			margin-right: 0;
		}

		& > h6 {
			color: #fff;
			font-size: 1em;
			margin-bottom: 25px;
		}

		&:first-child > h6 {
			margin-bottom: 20px;
		}

		&:nth-child(2) > h6 {
			margin-bottom: 10px;
		}

		.logo {
			width: 169px;
			height: 38px;
			margin: 25px 0 20px;
		}

		.contact-info {
			clear: both;
		}

		.payment-methods {
			margin-top: 30px;
		}
	}
}

.contact-info {
	li {
		margin-bottom: 15px;
		padding-left: 25px;
		position: relative;
		
		&:last-child {
			margin-bottom: 0;
		}

		p {
			font-size: 12px / 16px * 1em;
			line-height: 1em;
			
			a {
				color: $footer-paragraph;
				font-weight: $light;
				
				&:hover {
					color: $brand;
				}
			}
		}

		svg {
			position: absolute;
			left: 5px;
			fill: $brand;
		}

		.svg-pin {
			width: 10px;
			height: 15px;
			top: -1px;
		}

		.svg-phone {
			width: 11px;
			height: 15px;
			top: -2px;
		}

		.svg-envelope {
			width: 14px;
			height: 9px;
			top: 2px;
		}
	}
}

.payment-methods {
	width: 221px;
	overflow: hidden;
	
	li {
		float: left;
		width: 31px;
		height: 21px;
		margin-right: 7px;
		
		&:last-child {
			margin-right: 0;
		}
	}
}

#footer-menu {
	width: 235px;
	
	li {
		border-bottom: 1px solid $footer-border;
		position: relative;
		
		a {
			color: #acbdc6;
			font-size: 14px / 16px * 1em;
			display: block;
			line-height: 40px;
			@include transition(color, .3s, ease-in-out);
		}

		.svg-arrow {
			width: 6px;
			height: 10px;
			fill: #acbdc6;
			position: absolute;
			top: 15px;
			right: 0;
			pointer-events: none;
			@include transition(fill, .3s, ease-in-out);
		}

		&:hover {
			a { 
				color: $footer-link-hover;
			}
			
			.svg-arrow {
				fill: $footer-link-hover;
			}
		}
	}

	li:last-child {
		border-bottom: none;
	}
}

#footer-bottom-wrap {
	background-color: $footer-bottom-bg;
}

#footer-bottom {
	min-height: 75px;
	overflow: hidden;
	
	p {
		float: left;
		line-height: 75px;
		
		br {
			display: none;
		}
		
		a {
			font-weight: $light;
		}
	}

	.social-links {
		float: right;
		width: 282px;
		margin-top: 22px;
	}
}

.social-links {
	overflow: hidden;
	
	li {
		float: left;
		margin-right: 12px;
		
		&:last-child {
			margin-right: 0;
		}

		a {
			display: block;
			width: 30px;
			height: 30px;
			border-radius: 50%;
			@include transition(background-color, .3s, ease-in);
		}

		&.fb:hover a, &.twt:hover a,
		&.gplus:hover a, &.db:hover a,
		&.rss:hover a, &.vm:hover a,
		&.fk:hover a {
			background-color: $brand;
		}

		&.fb a {
			background: url('../images/social/fb-brand.png') no-repeat center $footer-fb-brand;
		}

		&.twt a {
			background: url('../images/social/twt-brand.png') no-repeat center $footer-twt-brand;
		}

		&.gplus a {
			background: url('../images/social/gplus-brand.png') no-repeat center $footer-gplus-brand;
		}

		&.db a {
			background: url('../images/social/db-brand.png') no-repeat center $footer-db-brand;
		}

		&.rss a {
			background: url('../images/social/rss-brand.png') no-repeat 50% 45% $footer-rss-brand;
		}

		&.vm a {
			background: url('../images/social/vm-brand.png') no-repeat center $footer-vm-brand;
		}

		&.fk a {
			background: url('../images/social/fk-brand.png') no-repeat center $footer-fk-brand;
		}
	}
}

@media screen and (max-width: 1260px) {
	/*---------------
	  	FOOTER TOP
	---------------*/
	#footer-top {
		width: 700px;
		padding-bottom: 0;
		
		article {
			margin: 0 160px 40px 0;
			
			&:nth-child(2n+2) {
				margin-right: 0;
			}
		}
	}
}

@media screen and (max-width: 860px) {
	/*---------------
	  	FOOTER TOP
	---------------*/
	#footer-top {
		width: 600px;
		
		article {
			margin-right: 60px;
		}
	}
}

@media screen and (max-width: 740px) {
	/*------------------
	  	FOOTER BOTTOM
	------------------*/
	#footer-bottom {
		padding: 25px 0 25px;
		
		p {
			float: none;
			line-height: 1em;
			height: 40px;
			text-align: center;
		}

		ul.social-links {
			float: none;
			margin: 0 auto;
		}
	}
}

@media screen and (max-width: 680px) {
	/*---------------
	  	FOOTER TOP
	---------------*/
	#footer-top {
		width: 270px;
		
		article {
			margin-right: 0;
		}
	}
}

@media screen and (max-width: 460px) {
	/*------------------
	  	FOOTER BOTTOM
	------------------*/
	#footer-bottom {
		p {
			line-height: 1.4em;
			height: 55px;
			
			span {
				display: none;
			}

			br {
				display: block;
			}
		}
	}
}